<ion-card [routerLink]="['/', product.tag, 'product', product.id]" >
  <ion-card-title *ngIf="product.flashSale">Sale</ion-card-title>
  <ion-img [src]="product.img" class="favorite-img"></ion-img>
  <div class="favorite-footer">
    <ul class="favorite-title">
      <li>{{product.title}}</li>
      <li *ngIf="product.favorite">
        <ion-icon name="star" style="color: red"></ion-icon>
      </li>
    </ul>
    <p class="favorite-old-price">Old price : {{(product.price * taxPrice) + product.price | currency}}</p>
    <!--            <p class="favorite-price">{{product.price | currency}}</p>-->
    <div class="favorite-actions">
      <p class="favorite-price">{{product.price | currency}}</p>
      <ion-icon name="cart" style="color: black; height: 18px" class="favorite-action"></ion-icon>
    </div>
  </div>
</ion-card>
<!--<p>it works</p>-->
