<ion-card [routerLink]="['/', item.tag, 'product', item.id]">
  <ion-card-title *ngIf="item.flashSale">Sale</ion-card-title>
  <ion-img [src]="item.img" class="favorite-img"></ion-img>
  <div class="favorite-footer">
    <ul class="favorite-title">
      <li>{{item.title}}</li>
      <li *ngIf="item.favorite">
        <ion-icon name="star" style="color: red"></ion-icon>
      </li>
    </ul>
    <p class="favorite-old-price">Old price : {{(item.price * taxPrice) + item.price | currency}}</p>
    <!--            <p class="favorite-price">{{item.price | currency}}</p>-->
    <div class="favorite-actions">
      <p class="favorite-price">{{item.price | currency}}</p>
      <ion-icon name="cart" style="color: black; height: 18px" class="favorite-action"></ion-icon>
    </div>
  </div>
</ion-card>
