@import "src/theme/_myVariables";

.header {
  display: flex;
}

.header-display {
  display: flex;
  justify-content: space-between;
  @media (max-width: 330px) {
    justify-content: center;
  }

  .header-title {
    display: flex;
    justify-content: center;
    align-self: center;
    //color: white;
    @media (max-width: 330px) {
      //display: flex;
      //justify-content: flex-start;
      //align-self: flex-start;
      //width: 5rem;
      font-size: 14px;
    }

    .header-link {
      text-decoration: none;
      color: #ffffff;
      font-size: 22px;
      @media (max-width: 330px) {
        font-size: 14px;
      }
    }
  }


  .header-cart {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-right: 1rem;
    @media (max-width: 330px) {
      align-self: flex-end;
      padding: .3rem .5rem;
    }

    .header-product {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $light-color;
      padding: 0 .5rem;
      position: relative;
      font-weight: 700;

      ion-icon {
        padding-right: .2rem;
        margin: 0 .3rem;
      }
      span {
        position: absolute;
        top: -0.5rem;
        left: 1.4rem;
        background: red;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }
}

@media (max-width: 320px) {

}
