<ion-header class="header">
  <ion-menu-button class="menu" color="light"></ion-menu-button>
  <ion-toolbar color="dark">
    <div class="header-display">
      <ion-title>
        <a routerLink="/home">
          Ecommerce
        </a>
      </ion-title>
      <div class="header-cart">
        <a class="header-product" routerLink="/cart">
          <ion-icon name="cart" slot="end"></ion-icon>
          {{countProduct$ | async}}</a>
        <a class="header-product" routerLink="/cart">
          <ion-icon name="logo-euro" slot="end"></ion-icon>
          {{totalPrice$ | async }}</a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
