@import "src/theme/myVariables";
.card {
  margin: .5rem 0;
  .card-img {
    height: 12rem;
    object-fit: cover;
  }

  .card-title {
    font-size: 1rem;
    text-transform: capitalize;
    margin: 1rem;

    @media (max-width: 48rem) {
      font-size: $font-lg;
    }
  }
}
