<ion-header class="header">
      <ion-menu-button class="menu" color="light"></ion-menu-button>
      <ion-toolbar color="dark">
        <ion-title>{{isLogin ? 'Login': 'Sign up'}}</ion-title>
      </ion-toolbar>
    </ion-header>



<ion-content  class="ion-padding-start ion-padding-end">

  <form #formRefrence="ngForm" (ngSubmit)="onSubmit(formRefrence)">
    <ion-grid class="login-main">
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-list>
            <ion-item>
              <ion-label position="floating">
                Email
              </ion-label>
              <ion-input #emailCtrl="ngModel" email name="email" ngModel required type="email" autofocus></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid email address.
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Password
              </ion-label>
              <ion-input #passwordCtrl="ngModel" minlength="6" name="password" ngModel required
                         type="password" autocomplete autocorrect></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button color="medium" expand="block" size="large" type="button" (click)="onLogin()"
                  class="ion-padding-start ion-padding-end">
<!--        Switch to login-->
      {{isLogin ? 'Switch to Sign Up' : 'Login'}}
      </ion-button>

      <ion-button (click)="onLogin()" color="dark" expand="block" size="large" type="submit"
      [disabled]="!formRefrence.valid"
                  class="ion-padding-start ion-padding-end"
      >Login</ion-button>
    </ion-grid>
  </form>

</ion-content>
<app-footer></app-footer>
