<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #formRefrence="ngForm" (ngSubmit)="onSubmit(formRefrence)">
    <ion-grid class="login-main">
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-list>
            <ion-item>
              <ion-label position="floating">
                Email
              </ion-label>
              <!--              am acces cu NgModel pe inputul asta!-->
              <ion-input #emailCtrl="ngModel" email name="email" ngModel required type="email"></ion-input>
            </ion-item>
            <!--            =====mesaj de validare email===-->
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid email address.
              </ion-label>
            </ion-item>
            <!--            ===========-->
            <ion-item>
              <ion-label position="floating">
                Password
              </ion-label>
              <ion-input #passwordCtrl="ngModel" minlength="6" name="password" ngModel required
                         type="password"></ion-input>
            </ion-item>
            <!--            === mesaj de validare password ===-->
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>
            <!--            ============== -->
            <!--            <div *ngIf="isLoading">Loading ...</div>-->
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button color="medium" expand="block" size="large" type="button"> Switch to login</ion-button>

<!--      dc formRefrence is invalid butonul este disabled-->
      <ion-button (click)="onLogin()" color="dark" expand="block" size="large" type="submit"
      [disabled]="!formRefrence.valid"
      >Login</ion-button>
    </ion-grid>
  </form>
  <!--    <ion-button color="primary" fill="clear" expand="block"> Switch to login</ion-button>-->
  <!--    <ion-button color="dark" expand="block" size="large" (click)="onLoading()" [routerLink]="['/home']"> Login</ion-button>-->

  <!--  (click)="onLoading()"-->
  <!--  <pre>-->
  <!--    {{email - password}}-->
  <!--  </pre>-->
</ion-content>
