.product {
  .product-title {
    margin: 1rem 0;
    text-transform: capitalize;
  }
  .product-tag{
    //border: 1px solid #ccc;
    border-radius: 2px;
    background: var(--ion-color-dark);
  }
  .product-img {
    height: 22rem;
    object-fit: cover;
  }
  .product-price{
    margin: 1rem 0;
    span {
        font-weight: 900;
    }
  }
  .product-desc{
    margin: 2rem 0;
  }
//   ion-text{
//     margin: 2rem 0;
//   }
}
