<!--FIXME center btn -->
<ion-header class="header">
  <ion-menu-button class="menu" color="light"></ion-menu-button>
  <ion-toolbar color="dark">
    <ion-title>Ecommerce</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>-->


<!--======-->
<ion-content fullscreen>


  <ion-list-header>Chip Avatar</ion-list-header>


  <ion-list>
    <ion-list-header>Item Avatars</ion-list-header>
    <ion-item *ngFor="let item of allItems">
      <ion-avatar slot="start">
        <img src="{{item.img}}"/>
      </ion-avatar>
      <ion-nav>
        <ion-button [routerLink]="['/folder/Outbox']"> {{item.name}}</ion-button>
<!--        <ion-route url="/folder/Outbox" component="home></ion-route>-->
      </ion-nav>
    </ion-item>


  </ion-list>


</ion-content>
