<!--FIXME center btn -->
<!--<ion-header class="header">-->
<!--  <ion-menu-button class="menu" color="light"></ion-menu-button>-->
<!--  <ion-toolbar color="dark">-->
<!--    <ion-title>Ecommerce</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<app-header></app-header>
<!--<ion-content>-->


<!--======-->
<ion-content fullscreen>


  <ion-list-header>User name</ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col offset-md="0" size-md="12">
        <ion-img [src]="defaultImg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
<!--      offset-md="3" size-md="6" size-lg="3" offset-lg="0"-->
      <ion-col *ngFor="let item of favItems"
               size="6" size-md="6" offset-md="0" size-lg="3"   class="favorite">
        <ion-card [routerLink]="['/', item.tag, 'product', item.id]">
          <ion-img [src]="item.img" class="favorite-img"></ion-img>
          <div class="favorite-footer">
            <p class="favorite-title">{{item.title}}</p>
            <p>stars</p>
            <p class="favorite-old-price">{{(item.price * taxPrice) + item.price | currency}}</p>
            <p class="favorite-price">{{item.price | currency}}</p>
          </div>
<!--          <ion-button [routerLink]="['/', item.tag, 'product', item.id]" size="block"  color="dark"-->
<!--          >-->
<!--            <ion-icon name="chevron-back-outline"></ion-icon>-->
<!--            {{item.tag}}-->
<!--          </ion-button>-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<!--  <ion-list>-->
<!--    <ion-list-header>Item Avatars</ion-list-header>-->
<!--    <ion-item *ngFor="let item of allItems">-->
<!--      <ion-avatar slot="start">-->
<!--        <img src="{{item.img}}"/>-->
<!--      </ion-avatar>-->
<!--      <ion-nav>-->
<!--        <ion-button [routerLink]="['/folder/Outbox']"> {{item.name}}</ion-button>-->
<!--&lt;!&ndash;        <ion-route url="/folder/Outbox" component="home></ion-route>&ndash;&gt;-->
<!--      </ion-nav>-->
<!--    </ion-item>-->


<!--  </ion-list>-->
