<!--<ion-header class="header">-->
<!--  <ion-menu-button class="menu" color="light"></ion-menu-button>-->
<!--  <ion-toolbar color="dark">-->
<!--    <ion-title>Ecommerce</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<app-header></app-header>
<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let entry of cartEntries$ | async">
      <ion-card-content>
        <div class="item-img">
<!--          <img src="{{entry.product.img}}" />-->
          <ion-img [src]="entry.product.img"></ion-img>
        </div>
        <div class="item-info">
          <h3>  {{ entry.product.title }}</h3>
          <div class="qty-selector">
            <ion-button fill="clear" (click)="removeEntries(entry)">-</ion-button>
<!--            <p [ngStyle]="{color: value > 2 ? 'red':'black'}" class="item-value">{{value}}</p>-->
            <ion-label>{{countProduct$ | async}}</ion-label>
            <ion-button fill="clear" (click)="addEntries(entry)">+</ion-button>
<!--            <p>{{countProduct$ | async}}</p>-->
          </div>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-button expand="block" class="main-button" (click)="clearEntries()" routerDirection="forward" color="dark">Clear</ion-button>


    <!--    <ion-card mode="md">-->
<!--      <ion-card-content>-->
<!--        <div class="item-img">-->
<!--          <img src="../../assets/img/2.jpg" />-->
<!--        </div>-->

<!--        <div class="item-info">-->
<!--          <p>Female t-shirt</p>-->
<!--          <p>Bata</p>-->
<!--          <p>$44.00</p>-->

<!--          <div class="qty-selector">-->
<!--            <ion-button fill="clear">-</ion-button>-->
<!--            <ion-label>1</ion-label>-->
<!--            <ion-button fill="clear">+</ion-button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->


  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/checkout" routerDirection="forward" color="dark">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
