//@import "../src/theme/myVariables";
@import "src/theme/myVariables";
.card {
  height: 14rem;
  //position: relative;
 .card-img{
    //height: 100%;
    height: 10rem;
    //position: absolute;
    //top: 0;
   object-fit: cover;
  }

  .card-title{
    //position: absolute;
    //bottom: 0;
    font-size: 1rem;

    //@media(max-width:768px) {
    @media(max-width:48rem) {
      //font-size: .9rem;
      font-size: $font-sm;
    }
  }
}
