<ion-header class="header">
  <ion-menu-button class="menu" color="light"></ion-menu-button>
  <ion-toolbar color="dark">
    <ion-title>Ecommerce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let phone of phones" size="6" size-lg="3" size-md="4">
        <ion-card class="card">
          <ion-img [src]="phone.img" class="card-img"></ion-img>
          <ion-card-header>
            <ion-label>Price : {{phone.price | currency}}</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['product', phone.id]" size="full" color="dark"
              >{{phone.title}}</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
