<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let tv of tvs; let i = index" size="6" size-lg="3" size-md="4" class="favorite">
        <app-product-list  [title]="tv.title"
                           [img]="tv.img"
                           [favorite]="tv.favorite"
                           [price]="tv.price"
                           (navigateToProduct)="navigateToProduct(tv)"></app-product-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
