
<app-header></app-header>
<ion-content>
  <form #formRefrence="ngForm" (ngSubmit)="onSubmit(formRefrence)" style="margin: 5rem 0 0 0 ;">
    <ion-grid class="login-main">
      <ion-row>
        <ion-col offset-sm="3" size-sm="6">
          <ion-list>
            <ion-item>
              <ion-label position="floating"> Name</ion-label>
              <ion-input
                #nameCtrl="ngModel"
                autofocus
                minlength="6"
                name="name"
                ngModel
                placeholder="name"
                required
                type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched" lines="none">
              <ion-label> Should be a valid name.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Email</ion-label>
              <ion-input
                #emailCtrl="ngModel"
                email
                name="email"
                ngModel
                placeholder="your@email.com"
                required
                type="text"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none">
              <ion-label> Should be a valid email adress.</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating"> Credit card</ion-label>
              <ion-input
                #cardCtrl="ngModel"
                minlength="16"
                name="card"
                ngModel
                placeholder="0404 0404 0404 0404"
                required
                type="number"></ion-input>
            </ion-item>
            <ion-item *ngIf="!cardCtrl.valid && cardCtrl.touched" lines="none">
              <ion-label> Should at least be 16 characters long.</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating"> Password</ion-label>
              <ion-input
                #passwordCtrl="ngModel"
                minlength="6"
                name="password"
                ngModel
                placeholder=" ****"
                required
                type="password"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none">
              <ion-label> Should at least be 6 characters long.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Name on card</ion-label>
              <ion-input
                #cardNameCtrl="ngModel"
                minlength="6"
                name="cardName"
                ngModel
                placeholder="John Doe"
                required
                type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched" lines="none">
              <ion-label> Should be a valid name.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Expires</ion-label>
              <ion-input
                #expiresCtrl="ngModel"
                minlength="6"
                name="expires"
                ngModel
                placeholder="09/10"
                required
                type="date"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!expiresCtrl.valid && expiresCtrl.touched"
              lines="none"
            >
              <ion-label> Should at least be 6 characters long.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Cvv</ion-label>
              <ion-input
                #cvvCtrl="ngModel"
                autocomplete
                autocorrect
                minlength="3"
                name="cvv"
                ngModel
                placeholder="352"
                required
                type="number"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!cvvCtrl.valid && cvvCtrl.touched"
              lines="none">
              <ion-label> Should at least be 3 characters long.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button
        (click)="clearEntries()"
        class="ion-padding-start ion-padding-end"
        color="dark"
        expand="block"
        size="large"
        type="submit">
        Go
      </ion-button>
    </ion-grid>
  </form>
</ion-content>
